<article class="happy-week-end-component">
    <header>
        <div class="happy-icon"></div>
        <h4>乐活周末</h4>
    </header>
    <section>
        <touch-move></touch-move>

        <section class="large-box">
            <div class="img"
                 [ngStyle]="{'background-image': 'url(http://img.alicdn.com/bao/uploaded/i3/100000283515736980/TB2ID9bXfTz11Bjy1XcXXapnpXa_!!0-0-travel.jpg_760x760q75.jpg_.webp)'}">
            </div>
            <div class="img-info">
                <h4>国庆假期不必穿越拥挤的人潮，去这些地方独享私人时光与美景就对了</h4>
            </div>
        </section>
    </section>
</article>
