<article class="live-component">
    <header>
        <div class="live-icon"></div>
        <h4>阿里旅行直播</h4>
    </header>
    <section class="body">
        <section>
            <div>
                <h4>
                    <span>秋季祭孔大典</span>
                    <span class="play-icon"></span>
                </h4>
                <p>带你感受秋季国祭的隆重</p>
            </div>
            <div>
                <img src="//img.alicdn.com/tps/TB14bzTNpXXXXaWaXXXXXXXXXXX-345-226.jpg_400x400q75.jpg_.webp" alt="">
            </div>
        </section>
        <section>
            <div>
                <h4>
                    <span>风情俄罗斯</span>
                    <span class="play-icon"></span>
                </h4>
                <p>九州带您玩转战斗民族俄罗斯</p>
            </div>
            <div>
                <img src="//img.alicdn.com/tps/TB1vYHVNpXXXXb.XXXXXXXXXXXX-345-226.jpg_400x400q75.jpg_.webp" alt="">
            </div>
        </section>
    </section>
    <footer>
        <p>观看更多<a href="">精彩直播 &#10217;</a></p>
    </footer>
</article>
