<section class="boutique-component">
    <section class="title">
        <i class="icon-title"></i>
        <h2>精品特惠</h2>
    </section>
    <section class="body">
        <ul>
            <li>
                <div class="base-box travel">
                    <h4>
                        <span>旅游特卖</span>
                        <span class="hot">甩尾</span>
                    </h4>
                    <p>
                        最新特价限时抢
                    </p>
                    <p class="bottom">
                        <span class="price-symbol">￥</span>
                        <span>499起</span>
                    </p>
                </div>
            </li>
            <li>
                <div class="base-box ticket">
                    <h4>
                        <span>特价机票</span>
                        <span class="hot">放心飞</span>
                    </h4>
                    <p>
                        国际满减50
                    </p>
                    <p class="bottom">
                        <!--<a>立即抢票</a>-->
                    </p>
                </div>
            </li>
            <li>
                <div class="base-box play">
                    <h4>
                        <span>玩+</span>
                        <span class="hot">HOT</span>
                    </h4>
                    <p>
                        每日一款惊喜价
                    </p>
                    <p class="bottom">
                        <span class="price-symbol">￥</span>
                        <span>9.9</span>
                    </p>
                </div>
            </li>
            <li>
                <div class="base-box hotel">
                    <h4>
                        <span>特惠酒店</span>
                        <span class="hot">真五折</span>
                    </h4>
                    <p>
                        最高减300元
                    </p>
                </div>
            </li>
        </ul>
    </section>
</section>
